<mat-toolbar>
    <ul>
        <li class="link notLastLink">
            <button mat-button routerLink="">Home</button>
        </li>
        <li class="link notLastLink">
            <button mat-button routerLink="about">About</button>
        </li>
        <li class="link notLastLink">
            <button mat-button routerLink="blog">Blog</button>
        </li>
        <li class="link">
            <button mat-button routerLink="create-entry">New Blog Entry</button>
        </li>
    </ul>
</mat-toolbar>